body{
    background-color: #E5E5E5;
}

a.button {
    position: absolute;
    padding: 20px;
    left: 307px;
    top: 524px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
    background: #CCFF94;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}



h1.z{
    position: absolute;
    width: 349px;
    height: 89px;
    left: 374px;
    top: 163px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;

    color: #720026;
}

h2.t{
    position: absolute;
    width: 681px;
    height: 111px;
    left: 208px;
    top: 320px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #720026;
}

h3.m{
    position: absolute;
    width: 202px;
    height: 30px;
    left:  448px;
    top: 444px;

    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #720026
}

img.i{

    position: absolute;
    width: 483px;
    height: 256px;
    left: 283px;
    top: 0px;
}

img.i1{
    position: absolute;
    width: 474.45px;
    height: 474.45px;
    left: 733.96px;
    top: 155px;
    transform: rotate(5.07deg);
}
.form-input-error-message {
    position: absolute;
    width: 398px;
    height: 50px;
    left: 160px;
    top: 185px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FD3A69;
}
.form-message {
    position: absolute;
    width: 398px;
    height: 50px;
    left: 160px;
    top: 185px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FD3A69;
}

img.ir{
    position: absolute;
    width: 307px;
    height: 163px;
    left: 137px;
    top: 0px;
}

.green-container
{
    position: absolute;
    width: 584px;
    height: 616px;
    left: 383px;
    top:26px;
    background: #CCFF94;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.n
{
    position: absolute;
    width: 431px;
    height: 68px;
    left: 50px;
    top: 230px;
    background-color: #EAE8FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 0.375px 25px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
    border-color: #EAE8FF;
}

.n::placeholder
{
    color: #720026;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 129px;
    top: 9px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}

.pp
{
    position: absolute;
    width: 431px;
    height: 68px;
    left: 50px;
    top: 432px;
    background-color: #EAE8FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 0.375px 25px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
    border-color: #EAE8FF;
}

.pp::placeholder
{
    color: #720026;
    position: absolute;
    width: 450px;
    height: 50px;
    left: 25px;
    top: 9px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}

.p
{
    position: absolute;
    width: 431px;
    height: 68px;
    left: 50px;
    top: 331px;
    background-color: #EAE8FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 0.375px 25px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
    border-color: #EAE8FF;
}

.p::placeholder
{
    color: #720026;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 89px;
    top: 9px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}


.label
{
    position: absolute;
    width: 33px;
    height: 50px;
    left: 227px;
    top: 420px;

    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
}
.textw
{
    position: absolute;
    width: 33px;
    height: 50px;
    left: 384px;
    top: 420px;

    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
}

.button_start {
    position: absolute;
    padding: 10px 50px;
    left: 160px;
    top: 412px;
    background: #FD3A69;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #EAE8FF;
}

.button_reg {
    position: absolute;
    padding: 10px 50px;
    left: 130px;
    top: 510px;
    background: #FD3A69;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #EAE8FF;
}

a.button_r {
    position: absolute;
    padding: 5px 50px;
    left: 115px;
    top: 510px;
    background: #720026;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #EAE8FF;
}


h1.r{
    position: absolute;
    width: 398px;
    height: 50px;
    left: 93px;
    top: 120px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: #720026;
}


